<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405749262108-n3fmgndc8d6sve5j9nj9tea4vket9omb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405749262108-n3fmgndc8d6sve5j9nj9tea4vket9omb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405749262108-en8a5nqsg5r35668al1kgtjtuo086ark.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzo_dHaw64oqBP7fSp-Ea9u_T_PfY1WUU</string>
	<key>GCM_SENDER_ID</key>
	<string>405749262108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selen.app</string>
	<key>PROJECT_ID</key>
	<string>selen-app-officiel-c652b</string>
	<key>STORAGE_BUCKET</key>
	<string>selen-app-officiel-c652b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405749262108:ios:e2bb2dc42a2f90c70f7cd9</string>
</dict>
</plist>